.navigation-btn {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  float: right;
  border: none;
  color: #aebd38;
  background-color: #505160;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  outline: none;
  transition: transform 0.3s ease;
  /* animation: flicker 1.5s infinite alternate; */
}

.navigation-btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
