.MuiGrid-container {
  max-width: 840px;
  margin: 0 auto;
}

.photo {
  width: 200px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.photo:hover {
  opacity: 0.5;
  border: 3px solid #88f537;
}
.selected {
  opacity: 0.5;
  border: 3px solid #88f537;
}


.SignupForm{
  margin: auto;
  background-color: #6f72b2;
}

.MuiContainer-root, .MuiContainer-fixed, .MuiContainer-maxWidthLg{

  background-color: #6f72b2;
}

.body {
  background-color: #6f72b2;
}

.MuiFormLabel-root{
  color: white;
}