.Lobby #lobbyDiv {
  height: 100vh;
  background-color: #6f72b2;
  position: relative;
}

.nav-link {
  padding: 50px;
}

#line1 {
  width: 100%;
  height: 47px;
  border-bottom: 20px solid greenyellow;
  border-radius: 99%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(27deg);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 50px;
  z-index: 3;
}
#line2 {
  width: 100%;
  height: 47px;
  border-bottom: 20px solid #6f72b2;
  border-radius: 99%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(27deg);
  position: absolute;
  top: 43%;
  left: 50.5%;
  text-align: center;
  font-size: 50px;
  color: greenyellow;
  z-index: 1;
  animation: pulse-green 2s infinite;
}

/* @keyframes pulse-green {
	0% {
		transform: scale(0.95);
	
	}
	
	70% {
		transform: scale(1);
	
	}
	
	100% {
		transform: scale(0.95);
	
	}
} */


#line3 {
  width: 100%;
  height: 47px;
  border-bottom: 20px solid #6f72b2;
  border-radius: 99%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(27deg);
  position: absolute;
  top: 54.7%;
  left: 47.5%;
  text-align: center;
  font-size: 50px;
  color: greenyellow;
  z-index: 1;
}

#battleroyalebtn {
  top: 50%;
  position: absolute;
  left: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 360px;
  transition: transform 0.6s ease;

  border-color: transparent transparent transparent #23b8d9;
  background-color: transparent;
}

#battleroyalebtn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#headtoheadbtn {
  position: absolute;
  top: 28%;
  right: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 360px 200px 0;
  transition: transform 0.6s ease;
  text-align: right;
  border-color: transparent #23b8d9 transparent transparent;
  background-color: transparent;
}

#headtoheadbtn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#lobbyinstructions {
  width: 100%;
  height: auto;
  background-color: #6f72b2;
  color: greenyellow;
  margin: 0 0 0 0;
  z-index: 1;
}

#backbtn {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.makeStyles-root-1{
  position: absolute;
  top: 45%
}

#lobby-nav-link{
  padding: 0 0 0 0;
  background-color: #6f72b2;
}

#lobbyDiv{
  background-color: #6f72b2;
}
#lobbyinstructions2 {
  width: 100%;
  position: absolute;
  height: auto;
  background-color: #6f72b2;
  color: greenyellow;
  margin: 0 0 0 0;
  z-index: 0;
  top: 13%;
}


.blob.red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}