.Home,
html {
  /* background-image: url(../../background_images/triviamac.png): */
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  width: 100vw;
  position: relative;
  justify-content: center;
  background-image: linear-gradient(to bottom right, black, rebeccapurple);
}

.Home,
h1 {
  color: #aebd38;
}

#homeRow1 {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10%;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

#homeRow2 {
  display: flex;
  /* top: 5%; */
  position: relative;
  position: center;
  width: 100%;
  justify-items: center;
}

.Home .ProfileCard {
  position: relative;
}

a.nav-link {
  padding: 0 0 0 0;
}

.Home
  .MuiPaper-root
  .MuiCard-root
  .makeStyles-card-241
  .MuiPaper-elevation1
  .MuiPaper-rounded {
  max-width: 20vw;
  position: relative;
  left: 40vw;
}
.Home .makeStyles-media-242 {
  height: 0;
  padding-top: 100%;
}

.Home .makeStyles-expand-517 {
  margin: 0 0 0 0;
}

#homeNavBtnTitle1 {
  font-size: xx-large;
}

.Home #LoginForm {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80%;
}

.Home .chartjs-render-monitor {
  background-color: white;
  border-radius: 30px;
}

.MuiFormLabel-root .MuiButton-label {
  color: #aebd38;
}

.MuiInputBase-input .MuiInput-input {
  color: #aebd38;
}

#lobbyNavBtn {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;

  animation: flicker 1.5s infinite alternate;
}

#submitQuestionNavBtn {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  float: right;
  border: none;
  color: #aebd38;
  background-color: #505160;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  outline: none;
  transition: transform 0.3s ease;
  animation: flicker 1.6s infinite alternate;
}
#leaderboardNavBtn {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  float: right;
  border: none;
  color: #aebd38;
  background-color: #505160;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  outline: none;
  transition: transform 0.3s ease;
  animation: flicker 1.1s infinite alternate;
}

#logoutNavBtn {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  float: right;
  border: none;
  color: #aebd38;
  background-color: #505160;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  outline: none;
  transition: transform 0.3s ease;
  animation: flicker 1.9s infinite alternate;
}

.Home .makeStyles-expand-204 {
  /* left: 0% !important; */
  margin: 0 0 0 0;
}
#expandrow {
  display: flex;
  justify-content: center;
}

/* @import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

#loginButton {
  font-family: "Exo 2", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem 3rem 3rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  --neon-text-color: #60066c;
  --neon-border-color: #aebd38;
}
#loginButton::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}
#loginButton::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}
#loginButton:focus {
  outline: none;
}
/* Animate neon flicker
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.MuiSvgIcon-root {
  font-family: "Exo 2", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem 3rem 3rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  --neon-text-color: #60066c;
  --neon-border-color: #aebd38;
}
.MuiSvgIcon-root::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}
.MuiSvgIcon-root::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}
.MuiSvgIcon-root:focus {
  outline: none;
}
/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .Home #LoginForm {
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 700px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .Home #LoginForm {
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80%;
  }
}
