.MuiPaper-root
  .MuiCard-root
  .makeStyles-card-926
  .MuiPaper-elevation1
  .MuiPaper-rounded {
  max-width: auto;
  /* background-color: #6f72b2; */
}

#profileCardContainer {
  display: flex;
  justify-content: center;
  /* margin: auto; */
}

.ProfileCard .MuiGrid-root .MuiGrid-direction-xs-column .MuiGrid-align-items-xs-center .MuiGrid-justify-xs-center{
  display: flex;
}
