.QuestionSubmission {
  height: 100vh;
  background-color: #6f72b2;
}
#questionSubmissionForm > p {
  margin: auto;
  background-color: #6f72b2;
  color: #88f537;
}

html {
  background-color: #6f72b2;
}

.MuiFormControl-root {
  width: 100%;
  background-color: #6f72b2;
}

.MuiGrid-root{
margin: 0 0 0 0;
position: absolute;
background-color: #23b8d9;
left: 31%;
top: 10%;
  }
