.QuestionSubmission {
  height: 100vh;
  background-color: #68829e;
}
#questionSubmissionForm > p {
  margin: auto;
  background-color: #68829e;
  color: #aebd38;
}

.QuestionSubmission html {
  background-color: #68829e;
}

.QuestionSubmission .MuiFormControl-root {
  width: 100%;
}

.QuestionSubmission .MuiGrid-root {
  margin: 0 0 0 0;
  position: absolute;
  background-color: #505160;
  left: 31%;
  top: 10%;
}
