.chartjs-render-monitor {
    height: 100%;
    background-color:white

}

#leaderboardbackbtn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 6%;
    font-size: small;
    animation: none !important;
}