#my-helper-text {
  position: relative;
  max-width: 225px;
  margin: 0 auto;
}

#LoginForm .MuiContainer-root,
.MuiContainer-fixed,
.MuiContainer-maxWidthLg {
  max-width: none !important;
}

.LoginForm {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  justify-content: center;
}

.MuiCardActions-root {
  right: 48%;
}

#welcomeMessage {
  font-size: 50px;
  color: #aebd38;
  z-index: 1;
  align-items: center;
  --neon-text-color: #f40;
}

#LoginForm,
#my-input,
#my-password,
#password {
  color: #aebd38;
}

#my-password{
  margin-bottom: 15px;
}


#welcomeMessage1, #welcomeMessage2 {
  /* Set neon color */
  --neon-text-color: #f40;
  border-radius: 50px;
  position: relative;
  font-weight: 900;
  display: block;
  animation: flicker 4s infinite alternate-reverse;
  text-align: center;
}

#logoWrapper {
  position: absolute;
  left: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i); */


#LoginForm .MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid #aebd38;
  pointer-events: none;
}

#LoginForm .MuiFormLabel-root {
  color: #aebd38 !important;
  font-family: "Exo 2", sans-serif;
}

#LoginForm .MuiButton-label {
  color: #aebd38;
  margin: 25px 0 25px 0;
}


